/* ROOT  */
:root {
  scroll-behavior: smooth;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
button {
  font-family: inherit;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

body {
  width: 100%;
  color: var(--slate);
  font-family: var(--font-family);
  background-color: var(--white);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  font-family: var(--second-family);
}
.dark-logo {
  color: var(--navy-blue);
}
.light-logo {
  color: var(--white);
}
.logo-right-margin {
  margin-right: 76px;
}
.logo-display {
  display: inline-block;
}
.logo-margin-bottom {
  margin-bottom: 16px;
}
.section-caption {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.btn {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  background-color: var(--iris);
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: var(--white);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}

/*  HEADER  */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  font-weight: 500;
  color: var(--navy-blue);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link {
  position: relative;
}
.nav-link.nav-active {
  color: var(--ocean);
}
.nav-active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

/*  HERO  */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/header-bg-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-container {
  padding: 188px 0;
}
.hero-caption {
  display: block;
  margin: 0 auto;
  max-width: 496px;
  text-align: center;
  font-size: 56px;
  margin-bottom: 48px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--white);
}

/*  FEATURES  */
.features {
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  width: 100%;
  height: 112px;
  background-color: var(--cloud);
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.features-descr {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*  TEAM  */
.team {
  background-color: var(--cloud);
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-info {
  padding: 32px 0;
  text-align: center;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.team-descr {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}
.social-img {
  fill: var(--cloud);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

/*  PORTFOLIO */
.portfolio {
  padding: 120px 0;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  gap: 48px 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.img-wrapper {
  position: relative;
  overflow: hidden;
}
.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--cloud);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item:hover .layout,
.portfolio-item:focus .layout {
  transform: translateY(0);
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.portfolio-descr {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FOOTER */
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-wrapper {
  margin-right: 120px;
}
.footer-descr {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-list {
  gap: 16px;
}
.footer-text {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
.footer-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--green);
  border-radius: 50%;
}
